@font-face {
    font-family: cocaColaFont;
    src: url('../Assets/Fonts/cocacola.ttf');
}

@font-face {
    font-family: oswald;
    src: url('../Assets/Fonts/Oswald-VariableFont_wght.ttf');
}

@font-face {
    font-family: opensans;
    src: url('../Assets/Fonts/OpenSans-VariableFont_wdth,wght.ttf');
}

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in Bootstrap
*/
body {
    padding-top: 30px;
    padding-bottom: 5px;
    background-color: rgba(182, 231, 243, 1.0);
}

.main_contents {
    margin-top: 10px;
    margin-bottom: 10px;
}

#main_3d_image {
    background-image: url("../Assets/Images/main_3D.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* The div block for the main_3d_image has no vertical size, 
    so we need a height to see the background image */
    height: 200px;
}

#main_text {
    float: left;
    margin: 5%;
    width: 90%;
    display: block;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
}

#main_text h2 {
    color: rgba(0, 102, 153, 1);
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
}

#main_text h3 {
    font-size: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#main_text p {
    font-size: 12px;
    margin: 0px;
    line-height: 1.2;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125);
    /* border-radius: .25rem;*/
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(182, 231, 243, 1.0);
}

.logo {
    margin-top: 3px;
}

.logo h1 {
    font-family: "cocaColaFont";
    font-size: 30px;
    margin: 0;
    margin-top: -10px;
    margin-bottom: -15px;
    float: left;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 2px;

}

.logo h2 {
    font-family: 'cocaColaFont';
    font-size: 31px;
    margin-top: -6px;
    margin-bottom: -15px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 3px;
    float: left;
}

.logo h3 {
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
    padding-top: 0px;
    padding-left: 0px;
    float: left;
}

.logo p {
    font-size: 7px;
    /* You may have to tweak this to get a good fit */
    margin-top: 22px;
    /* You may have to tweak this to get a good fit */
    margin-bottom: 0px;
    padding-top: 0px;
    padding-left: 3px;
}


p {
    font-family: 'opensans';
}

h1 {
    font-family: 'cocacolaFont';
}